
.toolbar-title {
  color: #FFFFFF;
  margin-left: 32rpx;
  margin-top: -10rpx;
}

.header {
  display: flex;
  margin-top: 48px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.icon-zuixing-12 {
  font-size: 30px;
}

.left {
  margin: 4px;
}

.right {
  margin-right: 10px;
}

.container {
  margin-top: 10rpx;
  box-sizing: border-box;
  height: 100vh;
}

.blog-panel {
  box-sizing: border-box;
}